@font-face {
    font-family: "R-black" ;
    src: url(../../public/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: "R-light" ;
    src: url(../../public/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: "R-medium" ;
    src: url(../../public/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: "R-regular" ;
    src: url(../../public/fonts/Roboto/Roboto-Regular.ttf);
}