.main {

    // todo carousel Start
    .carousel {
        .div11 {
            .img-slider1 {
                background-image: url(../../../../public/img/slider.jpg);
                height: 100vh;

                .text-area {
                    padding-left: 10vw;
                    width: 45vw;

                    h1 {
                        font-family: R-black;
                    }

                    p {
                        font-family: R-light;
                    }

                    div {
                        button:first-child {
                            width: 15vw;
                            position: relative;
                            display: inline-block;
                            color: white;
                            background-image: linear-gradient($dark-gray, $dark-gray);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 0% 100%;
                            transition: background-size .5s, color .5s;

                            &:hover {
                                background-size: 100% 100%;
                                color: #fff;
                            }
                        }


                        button:last-child {
                            width: 7vw;
                            position: relative;
                            display: inline-block;
                            color: white;
                            background-image: linear-gradient($l-blue, $l-blue);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 0% 100%;
                            transition: background-size .5s, color .5s;

                            &:hover {
                                background-size: 100% 100%;
                                color: #fff;
                            }
                        }

                    }

                }
            }

            .img-slider2 {
                background-image: url(../../../../public/img/slider2.jpg);
                height: 100vh;

                .text-area {
                    padding-left: 10vw;
                    width: 45vw;

                    h1 {
                        font-family: R-black;
                    }

                    p {
                        font-family: R-light;
                    }

                    div {
                        button:first-child {
                            width: 15vw;
                            position: relative;
                            display: inline-block;
                            color: white;
                            background-image: linear-gradient($dark-gray, $dark-gray);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 0% 100%;
                            transition: background-size .5s, color .5s;

                            &:hover {
                                background-size: 100% 100%;
                                color: #fff;
                            }
                        }


                        button:last-child {
                            width: 7vw;
                            position: relative;
                            display: inline-block;
                            color: white;
                            background-image: linear-gradient($l-blue, $l-blue);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 0% 100%;
                            transition: background-size .5s, color .5s;

                            &:hover {
                                background-size: 100% 100%;
                                color: #fff;
                            }
                        }

                    }
                }
            }

            .img-slider3 {
                background-image: url(../../../../public/img/slider3.jpg);
                height: 100vh;

                .text-area {
                    padding-left: 10vw;
                    width: 45vw;

                    h1 {
                        font-family: R-black;
                    }

                    p {
                        font-family: R-light;
                    }

                    div {
                        button:first-child {
                            width: 15vw;
                            position: relative;
                            display: inline-block;
                            color: white;
                            background-image: linear-gradient($dark-gray, $dark-gray);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 0% 100%;
                            transition: background-size .5s, color .5s;

                            &:hover {
                                background-size: 100% 100%;
                                color: #fff;
                            }
                        }


                        button:last-child {
                            width: 7vw;
                            position: relative;
                            display: inline-block;
                            color: white;
                            background-image: linear-gradient($l-blue, $l-blue);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 0% 100%;
                            transition: background-size .5s, color .5s;

                            &:hover {
                                background-size: 100% 100%;
                                color: #fff;
                            }
                        }

                    }
                }
            }
        }
    }

    // todo carousel End

    // ? section1 Start
    .section1 {
        padding: 5vh 0;

        .div1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                color: $dark-gray;
                font-family: R-medium;
                padding-top: 5vh;
                width: 45vw;
                text-align: center;
            }

            img {
                padding: 3vh 0;
            }

            p {
                font-family: R-light;
                width: 35vw;
                text-align: center;
            }
        }

        .div2 {
            display: flex;
            justify-content: space-between;
            padding: 5vh 10vw;

            div {
                height: 35vh;
                width: 23vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                i {
                    font-size: 50px;
                    border: 1px solid rgba(128, 128, 128, 0.521);
                    border-radius: 50%;
                    padding: 30px;
                    color: $l-blue;
                    transition: 0.3s;

                    &:hover {
                        background-color: $l-blue;
                        color: white;

                    }
                }


                h3 {
                    color: $dark-gray;
                    font-family: R-medium;
                }

                p {
                    font-family: R-light;
                    color: $light-gray;
                    text-align: center;
                }
            }
        }
    }

    // ? section1 End
    // ! section2 Start
    .section2 {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 102, 255, 0.329);
            height: 40vh;
            width: 100%;
        }

        .background-img {
            padding: 5vh 5vw;
            background-image: url(../../../../public/img/blockqoute-bg.jpg);
            background-repeat: no-repeat;
            height: 40vh;



            .area {
                z-index: 4;

                i {
                    font-size: 35px;
                    color: white;
                    border: 1px solid white;
                    border-radius: 50%;
                    padding: 25px;
                    transition: 0.3s;

                    &:hover {
                        color: $l-blue;
                        background-color: white;

                    }
                }


                h1 {
                    font-family: R-medium;
                    color: white;
                }

                p {
                    font-family: R-light;
                    color: white;
                }
            }


        }

    }

    // ! section2 End
    // ! section3 Start
    .section3 {
        padding: 5vh 0;

        .div1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                color: $dark-gray;
                font-family: R-medium;
                padding-top: 5vh;
                width: 45vw;
                text-align: center;
            }

            img {
                padding: 3vh 0;
            }

            p {
                font-family: R-light;
                color: $light-gray;
                width: 35vw;
                text-align: center;
            }
        }

        .div2 {
            .text-area {
                height: 45vh;

                h2 {
                    font-family: R-medium;
                    color: $dark-gray;

                    position: relative;

                    &:hover {
                        color: $l-blue !important;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -18%;
                        left: 0;
                        height: 4px;
                        width: 9%;
                        transition: 0.3s;
                        background: $l-blue;
                    }

                    &:hover::after {
                        width: 26%;
                    }
                }

                p {
                    font-family: R-light;
                    color: $light-gray;
                }

                .text-area2 {

                    .left-side {
                        i {
                            color: $l-blue;
                        }

                        p {
                            font-family: R-light;
                            color: $light-gray;
                        }
                    }

                    .right-side {
                        i {
                            color: $l-blue;
                        }

                        p {
                            font-family: R-light;
                            color: $light-gray;
                        }
                    }
                }
            }

            .video {
                video {
                    width: 600px !important;
                    height: 400px !important;
                }
            }
        }
    }

    // ! section3 End
    // todo section4 Start
    .section4 {
        background-image: url(../../../../public/img/call-bg.jpg);
        background-size: cover;
        width: 100%;
        height: 50vh;
        background-attachment: fixed;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 102, 255, 0.568);
            height: 50vh;
            width: 100%;
        }

        .div1 {
            z-index: 4;
            height: 40vh;
            width: 40vw;

            h1 {
                font-family: R-medium;
            }

            p {
                font-family: R-light;
                width: 35vw;
            }

            .div11 {
                button:first-child {
                    border: none;
                    background-color: rgb(255, 255, 255);
                    color: $l-blue;
                    font-family: R-regular;
                    width: 11vw;
                    border-radius: 5px;
                    border: 1px solid white;

                    position: relative;
                    display: inline-block;
                    background-image: linear-gradient($l-blue, $l-blue);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 0% 100%;
                    transition: background-size .5s, color .5s;

                    &:hover {
                        background-size: 100% 100%;
                        color: white;
                    }
                }


                button:last-child {
                    background-color: transparent;
                    color: white;
                    font-family: R-regular;
                    width: 11vw;
                    border: 1px solid white;
                    border-radius: 5px;

                    position: relative;
                    display: inline-block;
                    background-image: linear-gradient($l-blue, $l-blue);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 0% 100%;
                    transition: background-size .5s, color .5s;

                    &:hover {
                        background-size: 100% 100%;
                        color: white;
                        border: 1px solid $l-blue;
                    }


                }
            }
        }
    }

    // todo section4 End
    // todo section5 Start
    .section5 {
        background-color: $wwhite;
        padding: 5vh 0;

        .div1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-family: R-medium;
                color: $dark-gray;
                padding-top: 5vh;
                width: 45vw;
                text-align: center;
            }

            img {
                padding: 3vh 0;

            }

            p {
                font-family: R-light;
                color: $light-gray;
                width: 35vw;
                text-align: center;
            }
        }

        .div2 {
            padding: 10vh 0;

            div {
                img {
                    width: 24vw;
                    transition: 0.3s;

                    &:hover {
                        width: 24.5vw;
                    }
                }
            }
        }
    }

    // todo section5 End
    // ? section6 Start
    // ---------full bootstart. modification just on widths---------
    .section6 {
        .div1 {
            h1 {
                font-family: R-medium;
                width: 45vw;
            }

            p {
                font-family: R-light;
                width: 35vw;
            }
        }

        .div2 {
            h3 {
                transition: 0.3s;

                &:hover {
                    color: $l-blue !important;
                }
            }
        }
    }

    // ? section6 End
    // todo section7 Start
    .section7 {
        background-color: $wwhite;
        padding: 5vh 0;

        .div1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-family: R-medium;
                color: $dark-gray;
                padding-top: 5vh;
                width: 45vw;
                text-align: center;
            }

            img {
                padding: 3vh 0;
            }

            p {
                font-family: R-light;
                color: $light-gray;
                width: 35vw;
                text-align: center;
            }
        }

        .div2 {
            .cards {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 30px 0 rgba(0, 0, 0, 0.19);
                padding: 5vh 2vw;
                position: relative;

                &:hover {
                    color: $l-blue !important;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 4px;
                    width: 0;
                    transition: 0.3s;
                    background: $l-blue;
                }

                &:hover::after {
                    width: 100%;
                }

                div {
                    i:first-child {
                        color: $l-blue;
                    }
                }

                .text-area {
                    height: 25vh;

                    i:first-child {
                        font-size: 60px;
                    }

                    div {
                        h4 {
                            color: $dark-gray;
                            font-family: R-medium;
                        }

                        h2 {
                            color: $l-blue;
                            font-family: R-medium;

                            span {
                                color: $light-gray;
                                font-size: 18px;
                                font-family: R-light;
                            }
                        }
                    }
                }

                .cardd {
                    height: 38vh;
                    width: 20vw;

                    div {
                        width: 15vw;

                        p {
                            color: $light-gray;
                            font-family: R-light;
                        }

                        .fa-circle-check {
                            color: $l-blue;
                        }

                        .fa-circle-xmark {
                            color: $light-gray;
                        }
                    }

                    button {
                        width: 17vw;

                        position: relative;
                        display: inline-block;
                        color: white;
                        background-image: linear-gradient($dark-gray, $dark-gray);
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 0% 100%;
                        transition: background-size .5s, color .5s;

                        &:hover {
                            background-size: 100% 100%;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    // todo section7 End
    // ! section8 Start
    .section8 {
        padding: 5vh 0;

        .div1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-family: R-medium;
                color: $dark-gray;
                padding-top: 5vh;
                width: 45vw;
                text-align: center;
            }

            img {
                padding: 3vh 0;
            }

            p {
                font-family: R-light;
                color: $light-gray;
                width: 35vw;
                text-align: center;
            }
        }

        .div2 {
            .card {
                border: none;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 30px 0 rgba(0, 0, 0, 0.19);

                position: relative;

                &:hover {
                    color: $l-blue !important;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0%;
                    left: 0;
                    height: 4px;
                    width: 0;
                    transition: 0.3s;
                    background: $l-blue;
                }

                &:hover::after {
                    width: 100%;
                }

                div {

                    a {
                        position: relative;
                        display: inline-block;
                        color: white;
                        background-image: linear-gradient($dark-gray, $dark-gray);
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 0% 100%;
                        transition: background-size .5s, color .5s;

                        &:hover {
                            background-size: 100% 100%;
                            color: #fff;
                        }
                    }

                    h4 {
                        font-family: R-medium;
                        color: $dark-gray;
                    }

                    p {
                        font-family: R-light;
                        color: $light-gray;
                    }
                }
            }
        }
    }

    // ! section8 End
    // ! section9 Start
    .section9 {
        position: relative;

        &::before {
            content: '';
            background-color: rgba(0, 102, 255, 0.534);
            position: absolute;
            bottom: 0;
            left: 0;
            height: 37vh;
            width: 100%;
        }

        .background-img {
            padding: 5vh 5vw;
            background-image: url(../../../../public/img/client-bg.jpg);
            background-repeat: no-repeat;
            height: 37vh;

            .area {
                z-index: 4;

                img {
                    width: 10vw;
                }
            }
        }
    }

    // ! section9 End
    // ? section10 Start
    .section10 {
        padding: 5vh 0;

        .div1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-family: R-medium;
                color: $dark-gray;
                padding-top: 5vh;
                width: 45vw;
                text-align: center;
            }

            img {
                padding: 3vh 0;
            }

            p {
                font-family: R-light;
                color: $light-gray;
                width: 35vw;
                text-align: center;
            }
        }

        .div2 {
            .inputs {
                input {
                    width: 15vw;
                    height: 7vh;
                    padding: 1vh 1vw;
                    border-radius: 5px;
                    border: none;
                    border: 1px solid rgba(128, 128, 128, 0.190);

                    &::placeholder {
                        font-family: R-light;
                        color: $light-gray;
                    }


                }

                div:last-child {
                    button {
                        position: relative;
                        display: inline-block;
                        color: white;
                        background-image: linear-gradient($dark-gray, $dark-gray);
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 0% 100%;
                        transition: background-size .5s, color .5s;

                        &:hover {
                            background-size: 100% 100%;
                            color: #fff;
                        }
                    }
                }

                select {
                    width: 15vw;
                    height: 7vh;
                    padding: 1vh 1vw;
                    border-radius: 5px;
                    border: none;
                    border: 1px solid rgba(128, 128, 128, 0.190);

                    &::placeholder {
                        font-family: R-light;
                        color: $light-gray;
                    }
                }

                textarea {
                    padding: 1vh 1vw;
                    width: 100%;
                    height: 30vh;
                    border-radius: 5px;
                    border: none;
                    border: 1px solid rgba(128, 128, 128, 0.39);

                    &::placeholder {
                        font-family: R-light;
                        color: $light-gray;
                    }
                }

                div {
                    p {
                        font-family: R-regular;
                        color: $light-gray;
                    }
                }
            }
        }
    }

    // ? section10 End
    // ! section11 Start
    .section11 {
        background-color: $v-l-blue;

        .div1 {
            height: 40vh;

            h3 {
                font-family: R-medium;
                color: $dark-gray;
            }

            p {
                width: 35vw;
                font-family: R-regular;
                color: $light-gray;
            }
        }

        .div12 {
            input {
                width: 22vw;
                height: 8vh;
                padding: 1vh 1vw;
                border-radius: 5px;
                border: none;

                &::placeholder {
                    font-family: R-light;
                    color: $light-gray;
                }
            }

            button {
                background-color: $l-blue;
                border-radius: 5px;
                width: 13vw;
                height: 8vh;
                border: none;
                font-family: R-regular;
                font-size: 15px;

                position: relative;
                display: inline-block;
                color: white;
                background-image: linear-gradient($dark-gray, $dark-gray);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 0% 100%;
                transition: background-size .5s, color .5s;

                &:hover {
                    background-size: 100% 100%;
                    color: #fff;
                }


            }
        }
    }

    // ! section11 End
}

@media (max-width:430px) {
    .main {

        // todo carousel start
        .div1 {
            padding-top: 9vh;

            .div11 {

                .img-slider1,
                .img-slider2,
                .img-slider3 {
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 42vh;

                    .text-area {
                        width: 100%;
                        padding: 20px;

                        h1 {
                            font-size: 23px;
                        }

                        p {
                            font-size: 13px;
                        }

                        div {
                            button:first-child {
                                width: 100%;
                                height: 20%;
                                border-radius: 3px;
                            }

                            button:last-child {
                                width: 100%;
                                height: 20%;
                                border-radius: 3px;

                            }
                        }
                    }
                }
            }
        }

        // todo carousel end
        // ?section1 start
        .section1 {
            .div1 {
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    width: 100%;
                }

                p {
                    width: 100%;
                }
            }

            .div2 {
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i {
                        font-size: 30px;
                    }

                    p {
                        padding-bottom: 10px;
                    }
                }
            }
        }

        // ?section1 end
        // !section2 start
        .section2 {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 102, 255, 0.329);
                height: 120vh;
                width: 100%;
            }


            .background-img {
                padding: 10vh 0;
                background-size: cover;
                background-repeat: no-repeat;
                height: 120vh;

                .area {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div {

                        h1,
                        p {
                            text-align: center;
                        }
                    }
                }
            }

        }

        // !section2 end
        // !section3 start
        .section3 {
            .div1 {

                h1 {
                    width: 100%;

                }

                p {
                    width: 100%;
                }
            }

            .div2 {
                .text-area {
                    .text-area2 {
                        display: flex;
                        flex-direction: column;
                        gap: 3vw;

                        .left-side {
                            div {
                                display: flex;
                                align-items: center;
                            }
                        }

                        .right-side {
                            div {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }

                .video {
                    video {
                        width: 100% !important;
                    }
                }
            }
        }

        // !section3 end
        // todo section4 start
        .section4 {
            padding: 8vh 5vw;

            .div1 {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3vw;

                h1,
                p {
                    width: 100%;
                    text-align: center;
                    z-index: inherit;
                }

                .div11 {
                    display: flex;
                    justify-content: center;
                    z-index: inherit;

                    button:first-child {
                        width: 30vw;
                        font-size: 15px;
                        opacity: 1;
                    }

                    button:last-child {
                        width: 35vw;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        gap: 3px;
                    }
                }
            }

            // todo section4 End
        }

        // todo section5 Start
        .section5 {
            .div1 {

                h1,
                p {
                    width: 100%;
                }
            }

            .div2 {
                div {
                    img {
                        width: 100%;
                        padding: 2vh 2vw;
                    }
                }
            }
        }

        // todo section5 End
        // ? section6 start
        .section6 {
            .div1 {

                h1,
                p {
                    width: 100%;
                }
            }

        }

        // ? section6 End
        // todo section7 start
        .section7 {
            .div1 {

                h1,
                p {
                    width: 100vw;
                }
            }

            .div2 {
                .cards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .text-area {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .cardd {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        div {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }

        // todo section7 End
        // ! section8 start
        .section8 {
            .div1 {

                h1,
                p {
                    width: 100%;
                }
            }
        }

        // ! section8 End
        // ! section9 start
        .section9 {
            position: relative;

            &::before {
                content: '';
                background-color: rgba(0, 102, 255, 0.534);
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100vh;
                width: 100%;
            }

            .background-img {
                background-size: cover;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                .area {
                    img {
                        width: 40vw;
                    }
                }
            }
        }

        // ! section9 End
        // ? section10 Start
        .section10 {

            .div1 {

                h1,
                p {
                    width: 100%;
                }
            }

            .div2 {
                display: flex;
                flex-direction: column-reverse;
                gap: 2vw;

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 2vw;

                    input {
                        width: 49%;
                    }

                    select {
                        width: 49%;
                    }

                    textarea {
                        width: 99%;
                    }

                    div {
                        button {
                            width: 100%;
                        }

                        p {
                            text-align: center;
                        }
                    }

                }

                .img {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        // ? section10 End
        // ! section11 Start
        .section11 {
            height: 50vh;

            .div1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3vw;

                .div11 {

                    h3,
                    p {
                        width: 100%;
                        text-align: center;
                    }
                }

                .div12 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    input {
                        width: 70vw;
                        padding: 2vh 2vw;
                    }

                    button {
                        width: 70%;
                    }
                }
            }
        }

        // ! section11 End
    }
}